:root {
  --color-white: #ffffff;
  --color-light: #f9f9f9;
  --color-grey: #8b8b8b;
  --color-primary: #6D28D9;
  --color-secondary: #4C1D95;
  --color-success: #4caf50;
  --color-danger: #dc3545;
  --color-dark: #333333;
  --color-black: #000000;
  
  --border-radius: 8px;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
  
  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
}

/* GENERAL STYLES */
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.profile-photo {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  background: var(--color-primary);
  border-radius: var(--border-radius);
  color: white;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--color-primary);
  color: white;
}

.text-muted {
  color: var(--color-grey);
}